extends layout

block content
	form(method='post' action='/form')
		fieldset
			.form-group
				label(for="pageurl") Page Url
				input#pageurl.form-control(name='pageurl' type='text' placeholder='example: newpage')
			.form-group
				label(for="pagename") Page Name
				input#pagename.form-control(name='pagename' type='text' placeholder='example: Newpage')
			.form-group
				label(for="pagecontent") Page Content
				input#pagecontent.form-control(name='pagecontent' type='text' placeholder='example: Content Newpage')
			.form-group
				button.btn.btn-primary(type='submit') Add new page